.c0 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;
}

.c1 {
  display: flex;
  flex: 0.7;
}

.c4 {
  flex: 0.8;
}

.c4 > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.c2 {
  flex: 0.3;
  display: flex;
  justify-content: space-evenly;
}
